.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #222;
  border-bottom: 2px solid #9cd6ff;

  .logo {
    display: block;
    width: 34px;
    height: 34px;
    padding: 13px;
    float: left;
  }

  h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    padding-top: 14px;
  }
}
