.commute-display {
  border-bottom: 6px solid #9cd6ff;
  padding-bottom: 0.6rem;
  margin-bottom: 1.4rem;

  h2 {
    font-size: 32px;
    padding-left: 12px;
    margin-bottom: 1rem;
  }

  p {
    padding-left: 12px;
    font-size: 18px;
    color: #666;
  }
}
